# üêº Pandas - Class 5: Sorting & Basic Statistics
Welcome to **Class 5** of our Pandas series. Today we‚Äôll learn how to sort data and calculate basic statistics.

## 1. Sorting Data
- Use `sort_values(by='col')` to sort by column values.
- Use `ascending=False` for descending order.
- Sort by multiple columns by passing a list.
- `sort_index()` sorts by row or column index.

In [8]:
import pandas as pd

data = {
    "Product": ["Laptop", "Mobile", "Headphones", "Keyboard", "Mouse",
                "Monitor", "Printer", "Camera", "Speaker", "Tablet"],

    "Price": [55000, 20000, 1500, 1200, 800, 9000, 7000, 25000, 3000, 18000],

    "Stock": [10, 25, 50, 40, 60, 15, 8, 12, 30, 20],

    "Rating": [4.5, 4.2, 4.0, 3.8, 4.1, 4.3, 3.9, 4.6, 4.0, 4.4]
}

df = pd.DataFrame(data)

df

      Product  Price  Stock  Rating
0      Laptop  55000     10     4.5
1      Mobile  20000     25     4.2
2  Headphones   1500     50     4.0
3    Keyboard   1200     40     3.8
4       Mouse    800     60     4.1
5     Monitor   9000     15     4.3
6     Printer   7000      8     3.9
7      Camera  25000     12     4.6
8     Speaker   3000     30     4.0
9      Tablet  18000     20     4.4

In [10]:
df.sort_values(by=["Price","Stock"],ascending=[True,False])
#Sorting in both ascending and descending together.

      Product  Price  Stock  Rating
4       Mouse    800     60     4.1
3    Keyboard   1200     40     3.8
2  Headphones   1500     50     4.0
8     Speaker   3000     30     4.0
6     Printer   7000      8     3.9
5     Monitor   9000     15     4.3
9      Tablet  18000     20     4.4
1      Mobile  20000     25     4.2
7      Camera  25000     12     4.6
0      Laptop  55000     10     4.5

In [ ]:
df.sort_values(by = "Price")
df
#default = ascending

In [ ]:
#Decending
a = df.sort_values(by = "Price",ascending=False)
a

In [11]:
df.sort_values(by=["Price","Stock"],ascending=[True,False])

      Product  Price  Stock  Rating
4       Mouse    800     60     4.1
3    Keyboard   1200     40     3.8
2  Headphones   1500     50     4.0
8     Speaker   3000     30     4.0
6     Printer   7000      8     3.9
5     Monitor   9000     15     4.3
9      Tablet  18000     20     4.4
1      Mobile  20000     25     4.2
7      Camera  25000     12     4.6
0      Laptop  55000     10     4.5

## 2. Descriptive Statistics
- `mean()`, `median()`, `mode()` for central tendency.
- `std()` for standard deviation.
- `describe()` for a summary of stats (count, mean, std, min, quartiles, max).

In [12]:
df.mean(numeric_only = True)

Price     14050.00
Stock        27.00
Rating        4.18
dtype: float64

In [13]:
df.median(numeric_only=True)

Price     8000.00
Stock       22.50
Rating       4.15
dtype: float64

In [14]:
df.mode()

      Product  Price  Stock  Rating
0      Camera    800      8     4.0
1  Headphones   1200     10     NaN
2    Keyboard   1500     12     NaN
3      Laptop   3000     15     NaN
4      Mobile   7000     20     NaN
5     Monitor   9000     25     NaN
6       Mouse  18000     30     NaN
7     Printer  20000     40     NaN
8     Speaker  25000     50     NaN
9      Tablet  55000     60     NaN

In [15]:
df.std(numeric_only=True)

Price     16810.396915
Stock        17.851237
Rating        0.265832
dtype: float64

In [16]:
df.describe()

              Price      Stock     Rating
count     10.000000  10.000000  10.000000
mean   14050.000000  27.000000   4.180000
std    16810.396915  17.851237   0.265832
min      800.000000   8.000000   3.800000
25%     1875.000000  12.750000   4.000000
50%     8000.000000  22.500000   4.150000
75%    19500.000000  37.500000   4.375000
max    55000.000000  60.000000   4.600000

## 3. Counting Values
- `value_counts()` shows the frequency of unique values in a Series.
- Use `normalize=True` to see percentages instead of counts.

In [19]:
df['Product'].value_counts()
#gives the count of column's

Product
Laptop        1
Mobile        1
Headphones    1
Keyboard      1
Mouse         1
Monitor       1
Printer       1
Camera        1
Speaker       1
Tablet        1
Name: count, dtype: int64

In [20]:
df['Product'].value_counts(normalize=True)
#Gives in percentage/propotion/fraction

Product
Laptop        0.1
Mobile        0.1
Headphones    0.1
Keyboard      0.1
Mouse         0.1
Monitor       0.1
Printer       0.1
Camera        0.1
Speaker       0.1
Tablet        0.1
Name: proportion, dtype: float64

## 4. Correlation & Covariance
- `corr()` computes correlation between numeric columns.
- `cov()` computes covariance.
- Correlation values range from -1 (negative) to +1 (positive).

In [21]:
df.corr(numeric_only=True)

           Price     Stock    Rating
Price   1.000000 -0.604085  0.752138
Stock  -0.604085  1.000000 -0.508091
Rating  0.752138 -0.508091  1.000000

In [22]:
df.cov(numeric_only=True)

               Price          Stock       Rating
Price   2.825894e+08 -181277.777778  3361.111111
Stock  -1.812778e+05     318.666667    -2.411111
Rating  3.361111e+03      -2.411111     0.070667

In [23]:
df["Price"].corr(df["Rating"])

np.float64(0.7521381172370082)

## Mini Practice
1. Build a DataFrame with columns: Name, Age, Score, Height.
2. Sort the data by Score (descending).
3. Get mean, median, mode, and std of numeric columns.
4. Use value_counts on Name or any categorical column.
5. Compute corr() and cov() for all numeric columns.

In [ ]:
# Write your mini practice solution here

# 1. Build a DataFrame with columns: Name, Age, Score, Height

# 2. Sort the data by Score (descending)
# Write your code here

# 3. Get mean, median, mode, and std of numeric columns
# Write your code here

# 4. Use value_counts on Name or any categorical column
# Write your code here

# 5. Compute corr() and cov() for all numeric columns
# Write your code here

In [24]:
import pandas as pd

data = {
    "Name": ["Aman", "Rohit", "Neha", "Priya", "Arjun"],
    "Age": [20, 22, 19, 21, 23],
    "Score": [85, 90, 78, 88, 92],
    "Height": [170, 175, 160, 165, 180]   # in cm
}

df = pd.DataFrame(data)

print(df)

    Name  Age  Score  Height
0   Aman   20     85     170
1  Rohit   22     90     175
2   Neha   19     78     160
3  Priya   21     88     165
4  Arjun   23     92     180

In [25]:
df.sort_values(by="Score",ascending=False)

    Name  Age  Score  Height
4  Arjun   23     92     180
1  Rohit   22     90     175
3  Priya   21     88     165
0   Aman   20     85     170
2   Neha   19     78     160

In [26]:
df.mean(numeric_only=True)

Age        21.0
Score      86.6
Height    170.0
dtype: float64

In [27]:
df.median(numeric_only=True)

Age        21.0
Score      88.0
Height    170.0
dtype: float64

In [28]:
df.mode()

    Name  Age  Score  Height
0   Aman   19     78     160
1  Arjun   20     85     165
2   Neha   21     88     170
3  Priya   22     90     175
4  Rohit   23     92     180

In [29]:
df.std(numeric_only=True)

Age       1.581139
Score     5.458938
Height    7.905694
dtype: float64

In [31]:
df.value_counts("Name")

Name
Aman     1
Arjun    1
Neha     1
Priya    1
Rohit    1
Name: count, dtype: int64

In [33]:
df.corr(numeric_only=True)

             Age     Score    Height
Age     1.000000  0.955819  0.900000
Score   0.955819  1.000000  0.868927
Height  0.900000  0.868927  1.000000

In [34]:
df.cov(numeric_only=True)

          Age  Score  Height
Age      2.50   8.25   11.25
Score    8.25  29.80   37.50
Height  11.25  37.50   62.50

---
## Summary
- Learned to sort by columns with `sort_values` and by index with `sort_index`.
- Explored descriptive statistics: mean, median, mode, std, describe.
- Counted values with `value_counts`.
- Calculated correlation and covariance.